@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header-half1 {
    background-color: #2A3342;
    padding-top: 21px;
    padding-bottom: 278px;
}

@media screen and (max-width:800px) {
    .header-half1 {
        padding-bottom: 228px;
    }
}

@media screen and (max-width:550px) {
    .header-half1 {
        padding-bottom: 178px;
    }
}

@media screen and (max-width:400px) {
    .header-half1 {
        padding-bottom: 148px;
    }
}

.container-logo {
    max-width: 1265px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .nav {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        row-gap: 15px;
    }
}

.nav__navigation {
    display: flex;
    column-gap: 48px;
    align-items: center;
    flex-basis: 33.33%;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .nav__navigation {
        column-gap: normal;
    }
}

.nav__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8.19px;
    flex-basis: 33.33%;
    justify-content: flex-start;
}

.nav__link {
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    color: #BBC3CF;
    text-decoration: none;
}

.nav__author {
    display: flex;
    column-gap: 24px;
    align-items: center;
    flex-basis: 33.33%;
    justify-content: flex-end;
    padding-right: 10px;
}

@media screen and (max-width: 800px) {
    .nav__author, 
    .nav__navigation {
        justify-content: space-evenly;
    }

    .nav__logo {
        justify-content: center;
    }
}

.nav__butt-login {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    color: #BBC3CF;
    background-color: transparent;
}

.nav__butt-signup {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 20px;
    color: #F0FDF4;
    background-color: #22C55E;
    padding: 8px 16px;
    border-radius: 6px;
}

.header-half1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    row-gap: 24px;
}

.header-half1-content__text1 {
    color: #FFFFFF;
    font-size: 0.75em;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #22C55E;
    padding: 2px 8px;
    border-radius: 36px;
}

.header-half1-content__title {
    font-weight: 700;
    font-size: 3.75em;
    line-height: 72px;
    text-align: center;
    letter-spacing: -1.6px;
    max-width: 715px;
    color: #FFFFFF;
}

.header-half1-content__text2 {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 30px;
    color: #8896AB;
    text-align: center;
    max-width: 715px;
}

.header-half1-content__btn-group {
    margin-top: 8px;
    padding: 0px 10px;
}

.btn-group-collective {
    display: flex;
    column-gap: 16px;
}

.header-half1-content__butt {
    color: #F0FDF4;
    margin-top: 8px;
}

.butt-collective {
    padding: 16px 28px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 28px;
}

.header-half1-content__butt_demo {
    background-color: #22C55E;
}

.header-half1-content__butt_signup {
    background-color: #404F65;
}

.header-half2-video {
    display: flex;
    position: relative;
    margin-top: -200px;
    justify-content: center;
    align-items: center;
    padding: 0px 18px;
}

.video-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0px 18px;
}

@media screen and (max-width:800px) {
    .header-half2-video {
        margin-top: -150px;
    }
}

@media screen and (max-width:550px) {
    .header-half2-video {
        margin-top: -100px;
    }
}

@media screen and (max-width:400px) {
    .header-half2-video {
        margin-top: -70px;
    }
}

.header-half2-video__img {
    border-radius: 25px;
    max-width: 100%;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #22C55E;
    border-radius: 50%;
    padding: 20px;
}

.block1__partners {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-top: 88px;
    padding-bottom: 86px;
    text-align: center;
}

.partners__text {
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    color: #BBC3CF;
}

.partners-wrapper {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1200px) {
    .partners-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 32px;
        column-gap: 32px;
    }
    
}

.partners-wrapper__box {
    display: flex;
    max-width: 261px;
    max-height: 146px;
    background-color: #F7F8F9;
}

.partner-wrapper__img {
    text-align: center;
}

.partner-wrapper__img_one {
    padding: 49px 39px;
}

.partner-wrapper__img_two {
    padding: 51px 54px;
}

.partner-wrapper__img_three {
    padding: 51px 43px;
}

.partner-wrapper__img_four {
    padding: 49px 39px;
}

.main__block2 {
    background-color: #f7f8f9;
}

.block2__numbers {
    padding: 88px 0px;
}

.numbers-top {
    max-width: 771px;
}

@media screen and (max-width:850px) {
    .numbers-top {
        max-width: none;
    }
}

.top-collective {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
}

@media screen and (max-width:1200px) {
    .top-collective {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:850px) {
    .top-collective {
        align-items: center;
    }
}

.name-collective {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 18px;
    color: #22C55E;
    padding: 2px 8px;
    border-radius: 36px;
    background-color: #DCFCE7;
}

.title-collective {
    font-weight: 700;
    font-size: 3em;
    line-height: 60px;
    color: #2A3342;
    letter-spacing: -1px;
}

.text-collective {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 30px;
    color: #556987;
}

@media screen and (max-width:850px) {
    .name-collective,
    .title-collective,
    .text-collective {
        text-align: center;
    }
}

.numbers-bot {
    display: flex;
    align-items: center;
}

@media screen and (max-width:750px) {
    .numbers-bot {
        flex-direction: column;
        row-gap: 20px;
    }
}

.numbers__bot {
    margin-top: 50px;
}

@media screen and (max-width:1200px) {
    .numbers__bot {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.numbers-bot-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
}

@media screen and (max-width:1035px) {
    .numbers-bot-wrapper {
        justify-content: center;
    }
}

.numbers-bot-wrapper__box {
    max-width: 262px;
}

.numbers-bot-wrapper__number {
    font-weight: 700;
    font-size: 3em;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: center;
    color: #2A3342;
}

.numbers-bot-wrapper__text1 {
    font-weight: 700;
    font-size: 1.25em;
    line-height: 30px;
    text-align: center;
    color: #333F51;
}

.numbers-bot-wrapper__text2 {
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    text-align: center;
    color: #556987;
}

.numbers-bot__img {
    max-width: 100%;
}

.block3__quotes {
    display: flex;
    padding: 88px 0px;
}

@media screen and (max-width:1200px) {
    .block3__quotes {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:1100px) {
    .block3__quotes {
        column-gap: 30px;
    }
}

@media screen and (max-width:850px) {
    .block3__quotes {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

.quotes-video {
    display: flex;
    position: relative;
    flex-basis: 50%;
}

.quotes-video__img {
    max-width: 100%;
}

.quotes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
}

@media screen and (max-width:850px) {
    .quotes-wrapper {
        align-items: center;
    }
}

.quotes-wrapper-comment {
    position: relative;
    margin-top: 90px;
}

@media screen and (max-width:1000px) {
    .quotes-wrapper-comment {
        margin-top: 50px;
    }
}

.quotes-wrapper-comment__text {
    font-weight: 600;
    font-size: 2.25em;
    line-height: 44px;
    letter-spacing: -1px;
    color: #2A3342;
    z-index: 1;
}

.quotes-wrapper-comment__img-open {
    position: absolute;
    z-index: 0;
    top: -24px;
    left: -24px;
}

.quotes-wrapper-comment__img-close {
    position: absolute;
    z-index: 0;
    bottom: -15px;
    right: -24px;
}

.quotes-wrapper__name {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 32px;
    color: #333F51;
    margin-top: 32px;
}

.quotes-wrapper__post {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 28px;
    color: #556987;
    margin-top: 8px;
}

.quotes-wrapper__circle {
    margin-top: 56px;
}

.quotes-wrapper__item {
    margin-right: 12px;
}

.block4__contact {
    padding-top: 88px;
    padding-bottom: 90px;
}

@media screen and (max-width:1200px) {
    .block4__contact {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.contact-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:850px) {
    .contact-top {
        flex-direction: column;
        row-gap: 30px;
    }
}

.contact-top-text__text {
    max-width: 689px;
}

.contact-top__butt_positions {
    color: #F0FDF4;
    background-color: #22C55E;
}

.contact-top__butt_about {
    color: #333F51;
    background-color: #FFFFFF;
    border: 1px solid #D5DAE1;
}

.contact__bot {
    margin-top: 70px;
}

.contact-bot {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

@media screen and (max-width:850px) {
    .contact-bot {
        flex-direction: column;
        row-gap: 30px;
    }
}

.contact-bot-links {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    max-height: 380px;
}

@media screen and (max-width:850px) {
    .contact-bot-links {
        max-height: none;
        width: 100%;
        column-gap: 20px;
    }
}

.contact-bot-links__column1 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    row-gap: 38px;
    align-items: flex-start;
}

.contact-bot-links__column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    row-gap: 38px;
    align-items: flex-start;
}

.contact-bot-links__box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

@media screen and (max-width:850px) {
    .contact-bot-links__column1,
    .contact-bot-links__column2,
    .contact-bot-links__box {
        align-items: center;
    }
}

.contact-bot-links__img {
    padding: 12px;
    background-color: #22C55E;
    border-radius: 50%;
    max-width: 48px;
    max-height: 48px;
}

.contact-bot-links__title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 38px;
    color: #2A3342;
}

.contact-bot-links__text {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 30px;
    color: #556987;
}

.contact-bot-links__list {
    display: flex;
    margin-top: 18px;
}

.contact-bot-form {
    flex-basis: 50%;
    background-color: #F7F8F9;
    padding: 40px;
    max-height: 510px;
}

@media screen and (max-width:850px) {
    .contact-bot-form {
        width: 100%;
    }
    .contact-bot-links__text {
        text-align: center;
    }
}

.contact-bot-form__email {
    width: 100%;
    margin-top: 6px;
    padding: 10px 14px;
    border: 1px solid #D5DAE1;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

.contact-bot-form__email-title {
    padding: 4px 0px;
}

.contact-bot-form__email::placeholder {
    color: #667085;
}

.contact-bot-form__message-title {
    margin-top: 24px;
    padding: 4px 0px;
}

.contact-bot-form__message {
    width: 100%;
    max-height: 220px;
    resize: none;
    margin-top: 6px;
    padding: 10px 14px;
    border: 1px solid #D5DAE1;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

.contact-bot-form__message::placeholder {
    color: #D5DAE1;
}

.contact-bot-form__butt {
    background-color: #22C55E;
    color: #F0FDF4;
    width: 100%;
    margin-top: 24px;
}

.footer {
    background-color: #2A3342;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    padding: 88px 0px 84px 0px;
}

.nav__navigation_footer {
    margin-top: 32px;
}

@media screen and (max-width:850px) {
    .nav__navigation_footer {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    
}

.nav__link_footer {
    font-size: 1.25em;
    line-height: 30px;
    color: #8896AB;
}

.nav__copyright {
    margin-top: 84px;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 30px;
    color: #8896AB;
    text-align: center;
}